<div class="container-fluid">
  <div class="row px-xl-5">
    <div class="col-lg-8 table-responsive mb-5">
      <shoppers-point-products-table
        [products]="(products$ | async) ?? []"
        (productSelected)="onProductSelected($event)"
        (productRemoved)="onProductRemoved($event)"
        (updateCartQuantity)="onUpdateCartQuantity($event)" />
    </div>
    <div class="col-lg-4">
      <shoppers-point-summary
        [products]="products$ | async"
        (checkout)="onCheckout()" />
    </div>
  </div>
</div>
