@let productDetails = product();

@if (productDetails) {
  <div id="product-carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner bg-light">
      @for (index of indices; track index) {
        <div
          class="carousel-item"
          [ngClass]="{ active: index === activeIndex }">
          <img
            class="w-100 h-100"
            [src]="productDetails.image"
            [alt]="productDetails.title" />
        </div>
      }
    </div>
    <a class="carousel-control-prev" data-slide="prev" (click)="onPrev()">
      <i class="fa fa-2x fa-angle-left text-dark"></i>
    </a>
    <a class="carousel-control-next" data-slide="next" (click)="onNext()">
      <i class="fa fa-2x fa-angle-right text-dark"></i>
    </a>
  </div>
}
