<div class="col">
  <div class="bg-light p-30">
    <ul
      ngbNav
      #nav="ngbNav"
      [(activeId)]="activeId"
      [destroyOnHide]="false"
      class="nav-tabs">
      <li [ngbNavItem]="1" [destroyOnHide]="true">
        <button ngbNavLink>Description</button>
        <ng-template ngbNavContent>
          <h4 class="mb-3">Product Description</h4>
          <p [innerHTML]="product?.description"></p>
        </ng-template>
      </li>
      <li [ngbNavItem]="2">
        <button ngbNavLink>Information</button>
        <ng-template ngbNavContent>
          <h4 class="mb-3">Product Information</h4>
          <div class="row">
            <div class="col-md-6">
              <ul class="list-group list-group-flush">
                <li class="list-group-item px-0">Title</li>
                <li class="list-group-item px-0">Category</li>
                <li class="list-group-item px-0">Price</li>
              </ul>
            </div>
            <div class="col-md-6">
              <ul class="list-group list-group-flush">
                <li class="list-group-item px-0">
                  {{ product?.title }}
                </li>
                <li class="list-group-item px-0">
                  {{ product?.category | titlecase }}
                </li>
                <li class="list-group-item px-0">
                  {{ product?.price | currency }}
                </li>
              </ul>
            </div>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="3">
        <button ngbNavLink>Reviews ({{ product?.rating?.count ?? 0 }} )</button>
        <ng-template ngbNavContent let-active>
          <div class="row">
            <div class="col-md-6">
              <h4 class="mb-3">Product Reviews</h4>
              <div
                *ngFor="let review of product?.reviews ?? []"
                class="media mb-4">
                <i class="fas fa-user fa-3x mr-3 mt-1"></i>
                <div class="media-body">
                  <h6>
                    {{ review.name | titlecase }}
                  </h6>
                  <shoppers-point-rating
                    [rating]="review.rating"
                    [hideRating]="true"></shoppers-point-rating>

                  <p [innerHTML]="review.message"></p>
                </div>
              </div>
              <div *ngIf="!product?.reviews?.length" class="media mb-4">
                <div class="media-body">
                  <p>No Reviews Found</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <h4 class="mb-3">Leave a review</h4>
              <small
                >Your email address will not be published. Required fields are
                marked *</small
              >
              <div class="d-flex my-3">
                <label class="form-label mr-2"
                  >Your Rating <span aria-hidden="true">*</span></label
                >
                <shoppers-point-rating
                  [rating]="model.rating"
                  [hideRating]="true"
                  (ratingChange)="
                    onRatingChanged($event)
                  "></shoppers-point-rating>
              </div>
              <form [formGroup]="form">
                <formly-form
                  [fields]="fields"
                  [form]="form"
                  [model]="model"></formly-form>
              </form>
            </div>
          </div>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>
</div>
