<div class="container-fluid">
  <div class="row px-xl-5">
    <div class="col-lg-8 table-responsive mb-5">
      <table
        class="table table-light table-borderless table-hover text-center mb-0">
        <thead class="thead-dark">
          <tr>
            <th>Products</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
            <th>Remove</th>
          </tr>
        </thead>
        <tbody class="align-middle">
          <ng-container *ngIf="products$ | async as products">
            <tr
              *ngFor="let product of products"
              (click)="onProductSlected(product.id)">
              <td class="text-start">
                <img
                  [src]="product.image"
                  [alt]="product.title"
                  style="width: 50px" />
                {{ product.title | titlecase }}
              </td>
              <td class="align-middle">{{ product.price | currency }}</td>
              <td class="align-middle">
                <div class="input-group quantity mx-auto" style="width: 100px">
                  <div class="input-group-btn">
                    <button class="btn btn-sm btn-primary btn-minus">
                      <i class="fa fa-minus"></i>
                    </button>
                  </div>
                  <input
                    type="text"
                    class="form-control form-control-sm bg-secondary border-0 text-center"
                    [value]="product.quantity" />
                  <div class="input-group-btn">
                    <button class="btn btn-sm btn-primary btn-plus">
                      <i class="fa fa-plus"></i>
                    </button>
                  </div>
                </div>
              </td>
              <td class="align-middle">
                {{ (product.price ?? 0) * product.quantity | currency }}
              </td>
              <td class="align-middle">
                <button class="btn btn-sm btn-danger">
                  <i class="fa fa-times"></i>
                </button>
              </td>
            </tr>
          </ng-container>
          <tr *ngIf="!(products$ | async)?.length">
            <td class="align-middle" [colSpan]="5">No items added to cart</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-4">
      <shoppers-point-summary
        [products]="products$ | async"></shoppers-point-summary>
    </div>
  </div>
</div>
