<div class="container-fluid">
  <div class="row px-xl-5">
    <div class="col-lg-8 table-responsive mb-5">
      <shoppers-point-products-table
        [products]="(products$ | async) ?? []"
        (productSelected)="onProductSelected($event)"
        (updateCartQuantity)="
          onUpdateCartQuantity($event)
        "></shoppers-point-products-table>
    </div>
    <div class="col-lg-4">
      <shoppers-point-summary
        [products]="products$ | async"
        (checkout)="onCheckout()"></shoppers-point-summary>
    </div>
  </div>
</div>
