<div class="row pb-3">
  <div class="col-12 pb-1">
    <div class="d-flex align-items-center justify-content-end mb-4">
      <div class="ml-2">
        <div class="btn-group ml-2">
          <button type="button" class="btn btn-sm btn-light" disabled>
            Showing: {{ products ? products.length : 0 }} Products
          </button>
        </div>
      </div>
    </div>
  </div>
  <div *ngFor="let product of products" class="col-lg-4 col-md-6 col-sm-6 pb-1">
    <shoppers-point-product-card
      [product]="product"
      (addToCart)="onAddToCart($event)"
      (addToWishlist)="onAddToWishlist($event)"
      (viewProduct)="onViewProduct($event)"></shoppers-point-product-card>
  </div>
  <div *ngIf="products?.length" class="col-12">
    <shoppers-point-pagination
      [products]="products"
      [productsPerPage]="productsPerPage"></shoppers-point-pagination>
  </div>

  <div *ngIf="!products?.length" class="col-12">
    <h5 class="position-relative text-uppercase text-center mb-3">
      <span>No Products Found</span>
    </h5>
  </div>
</div>
