<div class="row pb-3">
  <div class="col-12 pb-1">
    <div class="d-flex align-items-center justify-content-end mb-4">
      <div class="ml-2">
        <div class="btn-group">
          <button
            type="button"
            class="btn btn-sm btn-light dropdown-toggle"
            data-toggle="dropdown">
            Sorting
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="#">Latest</a>
            <a class="dropdown-item" href="#">Popularity</a>
            <a class="dropdown-item" href="#">Best Rating</a>
          </div>
        </div>
        <div class="btn-group ml-2">
          <button
            type="button"
            class="btn btn-sm btn-light dropdown-toggle"
            data-toggle="dropdown">
            Showing: {{ productsPerPage }}
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" (change)="onProductsPerPageChanged(5)"
              >5</a
            >
            <a class="dropdown-item" (change)="onProductsPerPageChanged(10)"
              >10</a
            >
            <a class="dropdown-item" (change)="onProductsPerPageChanged(20)"
              >20</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngFor="let product of products" class="col-lg-4 col-md-6 col-sm-6 pb-1">
    <shoppers-point-product-card
      [product]="product"
      (addToCart)="onAddToCart($event)"
      (addToWishlist)="onAddToWishlist($event)"
      (viewProduct)="onViewProduct($event)"></shoppers-point-product-card>
  </div>
  <div class="col-12">
    <shoppers-point-pagination
      [products]="products"
      [productsPerPage]="productsPerPage"></shoppers-point-pagination>
  </div>
</div>
