<div class="container-fluid mb-3">
  <shoppers-point-main-carousel />
</div>

<div class="container-fluid pt-5">
  <shoppers-point-features />
</div>

<div class="container-fluid pt-5">
  <shoppers-point-categories [categories]="categories$ | async" />
</div>

<div class="container-fluid pt-5 pb-3">
  <shoppers-point-featured-products />
</div>

<div class="container-fluid pt-5 pb-3">
  <shoppers-point-offers />
</div>

<div class="container-fluid pt-5 pb-3">
  <shoppers-point-new-arrivals />
</div>
