@let carousel = productCarousel();
@let activeCarouselIndex = activeIndex();
<div class="row px-xl-5">
  <div class="col-lg-8">
    <div
      id="header-carousel"
      class="carousel slide carousel-fade mb-30 mb-lg-0"
      data-ride="carousel">
      <ol class="carousel-indicators">
        @for (
          carouselItem of carousel;
          track carouselItem.image;
          let carouselIndex = $index
        ) {
          <li
            [ngClass]="{ active: activeCarouselIndex === carouselIndex }"
            (click)="onChangeSlide(carouselIndex)"></li>
        }
      </ol>
      <div class="carousel-inner">
        @for (
          carouselItem of carousel;
          track carouselItem.image;
          let carouselIndex = $index
        ) {
          <div
            class="carousel-item position-relative"
            style="height: 430px"
            [ngClass]="{ active: activeCarouselIndex === carouselIndex }">
            <img
              class="position-absolute w-100 h-100"
              style="object-fit: cover"
              [src]="carouselItem.image" />
            <div
              class="carousel-caption d-flex flex-column align-items-center justify-content-center">
              <div class="p-3" style="max-width: 700px">
                <h1
                  class="display-4 text-white mb-3 animate__animated animate__fadeInDown">
                  {{ carouselItem.heading }}
                </h1>
                <p class="mx-md-5 px-5 animate__animated animate__bounceIn">
                  {{ carouselItem.description }}
                </p>
                <a
                  class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp"
                  [routerLink]="['/shop']"
                  >Shop Now</a
                >
              </div>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="product-offer mb-30" style="height: 200px">
      <img class="img-fluid" src="assets/images/offer-1.jpg" alt="" />
      <div class="offer-text">
        <h6 class="text-white text-uppercase">Save 20%</h6>
        <h3 class="text-white mb-3">Special Offer</h3>
        <a [routerLink]="['/shop']" class="btn btn-primary">Shop Now</a>
      </div>
    </div>
    <div class="product-offer mb-30" style="height: 200px">
      <img class="img-fluid" src="assets/images/offer-2.jpg" alt="" />
      <div class="offer-text">
        <h6 class="text-white text-uppercase">Save 20%</h6>
        <h3 class="text-white mb-3">Special Offer</h3>
        <a [routerLink]="['/shop']" class="btn btn-primary">Shop Now</a>
      </div>
    </div>
  </div>
</div>
