<nav>
  <ul class="pagination justify-content-center">
    <li
      class="page-item"
      [ngClass]="{
        disabled: currentPage === 1
      }">
      <a class="page-link" (click)="onPageChanged(currentPage - 1)">Previous</a>
    </li>
    <li
      *ngFor="let page of pages"
      class="page-item"
      [ngClass]="{
        active: page === currentPage
      }">
      <a class="page-link" (click)="onPageChanged(page)">{{ page }}</a>
    </li>
    <li
      class="page-item"
      [ngClass]="{
        disabled: currentPage === pages[pages.length - 1]
      }">
      <a class="page-link" (click)="onPageChanged(currentPage + 1)">Next</a>
    </li>
  </ul>
</nav>
