<div class="container-fluid">
  <div class="row px-xl-5">
    <!-- Shop Sidebar Start -->
    @if ({ filters: filters$ | async }; as ctx) {
      <div class="col-lg-3 col-md-4">
        <!-- Category Start -->
        <shoppers-point-filters
          heading="Filter by category"
          [filters]="$safeNavigationMigration(ctx.filters?.categories)"
          [filterOptions]="categories$ | async"
          (filterChanged)="onFiltersChanged($event, 'categories')" />
        <!-- Category End -->
        <!-- Rating Start -->
        <shoppers-point-filters
          heading="Filter by rating"
          [filters]="$safeNavigationMigration(ctx.filters?.ratings)"
          [filterOptions]="ratings$ | async"
          (filterChanged)="onFiltersChanged($event, 'ratings')" />
        <!-- Rating End -->
        <!-- Price Start -->
        <shoppers-point-filters
          heading="Filter by price"
          [filterType]="FilterType.range"
          [filters]="$safeNavigationMigration(ctx.filters?.range)"
          [range]="range$ | async"
          (filterChanged)="onFiltersChanged($event, 'range')" />
        <!-- Price End -->
      </div>
    }
    <!-- Shop Sidebar End -->

    <!-- Shop Product Start -->
    <div
      class="col-lg-9 col-md-8"
      [ngClass]="{
        'shoppers-point-spinner': (productsLoading$ | async),
      }">
      @if (!(productsLoading$ | async)) {
        <shoppers-point-products
          [productsPerPageOptions]="(productsPerPageOptions$ | async) ?? []"
          [products]="(products$ | async) ?? []"
          [pages]="(pages$ | async) ?? []"
          [currentPage]="(page$ | async) ?? 0"
          [productsPerPage]="(productsPerPage$ | async) ?? 0"
          (addToCart)="onAddToCart($event)"
          (addToWishlist)="onAddToWishlist($event)"
          (productsPerPageChanged)="onProductsPerPageChanged($event)"
          (viewProduct)="onViewProduct($event)"
          (pageChanged)="onPageChanged($event)" />
      }
    </div>
    <!-- Shop Product End -->
  </div>
</div>
