<div class="container">
  <div class="row">
    <div class="col-6 mx-auto">
      <shoppers-point-auth-form
        formClass="bg-white p-30"
        heading="Sign In"
        [fields]="fields"
        [form]="form"
        [model]="model">
        <div formFooter class="row">
          <div class="col-12 bg-white">
            <span class="ps-3 me-1">Forgot Password?</span>
            <a
              [routerLink]="['/auth/forgot-password']"
              routerLinkActive="active"
              >Forgot Password</a
            >
          </div>
          <div class="col-12 bg-white pb-30">
            <span class="ps-3 me-1">Don't have an account?</span>
            <a [routerLink]="['/auth/sign-up']" routerLinkActive="active"
              >Sign Up</a
            >
          </div>
        </div>
      </shoppers-point-auth-form>
    </div>
  </div>
</div>
