<ng-container *ngIf="rating">
  <div class="text-primary mr-2">
    <ng-container *ngFor="let ratingItem of ratings">
      <small
        class="fa-star"
        [ngClass]="{
          far: isFar(ratingItem),
          fas: isFas(ratingItem),
          'fa-star-half-alt': isFaStarHalf(ratingItem)
        }"
        [title]="rating.rate"
        (click)="onClick(ratingItem)"></small>
    </ng-container>
  </div>
  <small *ngIf="!hideRating" class="pt-1">({{ rating.count }} Reviews)</small>
</ng-container>
